<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>

        <div>
            <!-- <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ-7Eq-kj17MtDe1E9edFvc12d6xAksaySJLKuQw8fcPaH4Xq2y">My first post</a></h2>
            <p>I am at the Omni Hotel in downtown Austin suffering a sugar comatose. It was worth it.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK-73qNTcmHOqpHpFHRL6inNWeE2rhsIxwG4ptJ_xENeOnvq1p">My second post</a></h2>
            <p>I am on the 16th floor and the people downstairs look like tiny video game characters walking around.</p> -->
        <div>
            <h1><a href="http://7-themes.com/data_images/out/74/7025408-cute-kitty-playing.jpg">Django Girls Blog</a></h1>
        </div>

		{% for post in posts %}
    	<div>
        	<p>published: {{ post.published_date }}</p>
        	<h1><a href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ-7Eq-kj17MtDe1E9edFvc12d6xAksaySJLKuQw8fcPaH4Xq2y">{{ post.title }}</a></h1>
        	<p>{{ post.text|linebreaks }}</p>
    	</div>
		{% endfor %}
    </body>
</html>